.header{
    background-color: #337ab7;
    padding: 10px 0;
    color: #fff;
}
.hide{
    display: none;
}
.box {
    border-radius: 4px;
    border-top: 5px solid #337ab7;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    margin: 10px;
    padding: 20px;
    min-height: 215px;
    border-right: 1px solid #e6e6e6;
}

.box-danger {
    border-radius: 4px;
    border-top: 5px solid #a94442;
    border-bottom: 1px solid #a94442;
    border-left: 1px solid #a94442;
    border-right: 1px solid #a94442;
    margin: 10px;
    padding: 20px;
}
.fa-quote-left, .fa-quote-right{
    font-size: 3em;
    color: #e6e6e6;
}
.nav-tabs li{
    width: 5%;
    height: auto;
}
.tab-content {
    padding: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 4px 0 4px;
    margin-bottom: 20px;
}
.logo img{
    width:300px;
    height: auto;
}
.sidebar{
    padding: 25px 25px 50px 15px;
    background-color: #e6e6e6;
}
.panel-body{
    padding:15px 15px 0 15px;
}
h1.text-primary{
    font-size: 24px;
}
.main-body p{
    font-size: 14px;
}
.highlight {
    border: 5px solid red;
    overflow: hidden;
    padding: 5px;
}
.company{
     padding: 0;
 }
.company li{
    width: 143px;
    height: auto;
    list-style: none;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.company img{
    width: 100%;
}
.company-small{
    padding: 0;
}
.company-small li{
    width: 93px;
    height: auto;
    list-style: none;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.company-small img{
    width: 100%;
}
.france{
    width: 85px;
    height: auto;
    float: left;
    margin-right: 5px;
}
.quote .checkbox-inline{
    padding-left: 42px;
}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-default{
    background-image: none;
    background-color: #f5f5f5;
    border-color: #c0c0c0 ;
}
.navbar-default .navbar-nav > li > a, .navbar-brand{
    text-transform: uppercase;
    font-size: 14px;
}
.dropdown-menu{
    width:100%;
}
.jumbotron{
    background-image: url("/resources/img/gin-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 0 0;
}

.deductible-title, .dependant-title{
    font-size: 14px;
    font-style: italic;
    border-bottom:1px solid #ccc;
}
.dependant{
    text-align: right;
}
.dependant i{
    float: left;
    padding: 10px;
    background-color:#f0ab48 ;
    border-radius: 4px;
}
.dependant p{
    padding-top: 8px;
    font-weight:bold;
    color: #f0ab48;
}
.checkbox-inline{
    margin:0 35px;
}
.slogan{
    background-color: rgba(255,255,255,.8);
    padding: 10px 20px;
    border-radius: 21px;
    font-weight: bold;
    font-style: oblique;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 10px 0;
    width: 100%;
    text-align: center;
}
.item{
    height: 130px;
    background-color:#f0ab48;
    border-radius: 10px;
}
#myCarousel{
    margin: 20px 0;
}
.carousel-caption {
    position: absolute;
    right: 0;
    left:0;
    bottom: 10px;
    z-index: 10;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    padding: 3px 75px;
}
.divider{
    margin: 0;
    padding: 0;
    border-bottom:1px solid #c0c0c0;
}
.iconcontainer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.iconbox {
    background: #ffffff;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding: 20px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 15px;
    min-height: 215px;
}
.iconbox-icon {
    background-color: #337ab7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    margin-top: -60px;
}
.iconbox-icon span {
    color: #fff;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
}
.featureinfo h4 {
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #337ab7;
}
.featureinfo > p {
    color: #000000;
    font-size: 16px;
    padding-top: 4px;
}



/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
}
.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}
.title-widget::before {
    background-color: #f0ab48;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}
.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}
.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}
.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}
.title-median {
    color: #636363;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}
.footerp p {font-family: 'Gudea', sans-serif; }
#social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*Only Needed in Multi-Coloured Variation*/
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f0ab48;
}
.nomargin { margin:0px; padding:0px;}
.footer-bottom {
    background-color: #337ab7;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
/************************************************************
*************************Footer******************************
*************************************************************/

.breadcrumb {
    padding: 0px;
    background: transparent;
    list-style: none;
    overflow: hidden;
    border-radius: 4px;
}

.breadcrumb>li {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li a {
    font-size: 21px;
    font-style: italic;
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: inline-block;
    width: calc( 100% - 10px );
    background-color: hsla(0, 0%, 83%, 1);
    text-transform: capitalize;
}
.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li:last-of-type a {
    width: calc( 100% - 38px );
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 5px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li.three a {
    background: #f0ab48;
}

.breadcrumb li.three a:after {
    border-left: 30px solid #f0ab48;
}
.step{
    font-size: 18px;
    background-color: #fff;
    padding: 9px 14px;
    border-radius: 20px;
    margin-right: 15px;
    color: #000;
    font-weight: bold;
}
.use-site{
    position: relative;
    border-left: 50px solid #337ab7;
    border-bottom: 15px solid #337ab7;
    padding: 0 10px 10px 10px;
    min-height: 175px;
}
.use-site h2{
    color: #fff;
    position: absolute;
    z-index: 3;
    left: -70px;
    bottom: 50px;
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
}
.last{
    margin-bottom: 20px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right:25px solid #e6e6e6;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #e6e6e6;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left:125px solid transparent;
    border-right:125px solid transparent;
    border-bottom:125px solid #e6e6e6;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-top: 35px solid #f0ab48;
    margin: 0 auto 20px auto;
}
.arrow{
    width: 100%;
    background-color: #f0ab48;
    height: 40px;
}
.arrow-wrapper{
    text-align: center;
}
.arrow p{
    color: #8a6d3b;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.heading a{
    color: #f0ab48 !important;
    font-weight: bold;
}
.shift{
    margin-left: -10px;
}
.profile{
    overflow: hidden;
    margin: 10px 0;
    border-bottom: 5px solid #337ab7;
    border-left: 10px solid #337ab7;
}
.profile img{
    float: left;
    padding: 0 10px 10px;
}
.profile h1, .profile p{
    margin: 0;
    padding: 0 10px;
}
.contact-icons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.modal-body img{
    width:100px;
    height:auto;
}
.insType{
    border:none;
    background-color: transparent;
}
.insType:hover{
    opacity: .5;
}

.steps{
    margin-top: 20px;
}
.gender {
    margin-top: 0;
}
.contact-checkbox .checkbox-inline{
    margin: 0;
    width: 200px;
}
.quote-table{
}
.pagination li {
    display:inline-block;
    padding:5px;
}
.list{
    margin: 0;
    padding: 0;
}
.list li{
    list-style: none;
    margin: 0;
}
.contact-message::-webkit-input-placeholder{
    color:    #FF0000;
}

.contact-message:-moz-placeholder{
    color:    #FF0000;
}

.contact-message::-moz-placeholder{
    color:    #FF0000;
}
.contact-message:-ms-input-placeholder{
    color:    #FF0000;
}